@import "scss-components/function";
@import "scss-components/leftPart";
@import "scss-components/colors";
@import "scss-components/boilerplate";
@import "scss-components/rightPart";

.mainwrapper{
  @include flexColumn();

  @media (min-width:649px) {
    @include flexRow(); 
    height: 100vh;
  }
}

.high-priority{
  color: $high-priority;
}
.medium-priority{
  color: $medium-priority;
}
.low-priority{
  color: $low-priority;
}